@namespace BlazorBoilerplate.Theme.Material.Demo.Shared.Components.Wizard
@using Microsoft.AspNetCore.Components
@using MudBlazor
@inject IStringLocalizer<Global> L
@inject NavigationManager NavManager

@inherits MudComponentBase

<CascadingValue Value="this" IsFixed="true">
    <MudCard @attributes="UserAttributes" Class="@Classname" Style="@Style" Elevation="@Elevation" Outlined="@Outlined"
        Square="@Square">
        @if (null != SelectedIndex)
        {
            <MudCardHeader Style=@(ShowHeaderBorder ? "border-bottom: 1px solid grey;" : "")>
                <CardHeaderContent>
                    @if (ShowChips)
                    {
                        <MudGrid Justify="Justify.SpaceEvenly">
                            @foreach (var panel in _panels)
                            {
                                <MudItem>
                                    @if (panel == SelectedPanel)
                                    {
                                        <MudChip Size="Size.Small" Color="@HeaderChipSelectedColor" Variant="@HeaderChipVariant"
                                            Text="@panel.Title" />
                                    }
                                    else
                                    {
                                        <MudChip Size="Size.Small" Text="@panel.Title" Variant="@HeaderChipVariant"
                                            Color="@HeaderChipColor" OnClick="(() => ChipSelect(panel))" />
                                    }
                                </MudItem>
                            }
                        </MudGrid>
                    }
                    @if (null != SelectedPanel)
                    {
                        if (!ShowChips)
                        {
                            <MudText Class="mt-2 mx-2" Typo="@TitleTypo" Color="@TitleColor">
                                @SelectedPanel?.Title
                            </MudText>
                        }
                        <MudText Class="mt-2 mx-2" Typo="@DescriptionTypo" Color="@DescriptionColor">
                            @SelectedPanel?.Description
                        </MudText>
                    }
                </CardHeaderContent>
                <CardHeaderActions>
                    <span style="display: flex; margin-left: auto">
                        <MudStack Row="true">
                            @if (@DisplaySaveSchemaCheckbox)
                            {
                                <ButtonTooltip
                                    Text="Select this box if you want your configuration to be saved with the dataset and be re-used for the next training."
                                    Position="Placement.Bottom">
                                    <MudCheckBox Checked="@SaveSchema" T="bool" CheckedChanged="OnSaveSchemaCheckedChanged"
                                        Label="@L["Save Schema"]"></MudCheckBox>
                                </ButtonTooltip>
                            }
                            <MudStack Row="true">
                                <ButtonTooltip Text="@L["Home.Datasets.Dataset.Train.Previous.tooltip"]" Position="Placement.Bottom" ShowOnHover="(!IsPreviousDisabled)">
                                    <MudButton OnClick="OnPrevious"
                                               Disabled="@IsPreviousDisabled"
                                               Color="Color.Secondary"
                                               Variant="@ButtonVariant" Style="height:fit-content">
                                        @L["Previous"]
                                    </MudButton>
                                </ButtonTooltip>

                                @if (@IsFinishVisible && !tourActivated)
                                {

                                    <ButtonTooltip Text="@L["Home.Datasets.Dataset.Train.Finish.tooltip"]" Position="Placement.Bottom">
                                        <MudButton OnClick="OnFinish"
                                                   Color="Color.Secondary"
                                                   Disabled="@DisableNext"
                                                   Variant="@ButtonVariant">
                                            @L["Finish"]
                                        </MudButton>
                                    </ButtonTooltip>

                                }
                                else if (@IsFinishVisible && tourActivated)
                                {
                                    <ButtonTooltip Text="@L["Home.Datasets.Dataset.Train.Finish.tooltip"]" Position="Placement.Bottom">
                                        <MudButton OnClick="OnFinish" data-form-eighthStep
                                                   Color="Color.Secondary"
                                                   Disabled="@DisableNext"
                                                   Variant="@ButtonVariant">
                                            @L["Finish"]
                                        </MudButton>
                                    </ButtonTooltip>

                                }
                                else if (tourActivated)
                                {

                                    <ButtonTooltip Text="@L["Home.Datasets.Dataset.Train.Next.tooltip"]" Position="Placement.Top">
                                        <MudButton OnClick="OnNextTourActivated" data-form-forthStep
                                                   Disabled="@IsNextDisabled"
                                                   Color="Color.Secondary"
                                                   Variant="@ButtonVariant">
                                            @L["Next"]
                                        </MudButton>
                                    </ButtonTooltip>

                                }
                                else if (!tourActivated)
                                {
                                    <ButtonTooltip Text="@L["Home.Datasets.Dataset.Train.Next.tooltip"]" Position="Placement.Top">
                                        <MudButton OnClick="OnNext"
                                                   Disabled="@IsNextDisabled"
                                                   Color="Color.Secondary"
                                                   Variant="@ButtonVariant">
                                            @L["Next"]
                                        </MudButton>
                                    </ButtonTooltip>

                                }
                            </MudStack>
                        </MudStack>
                    </span>
                </CardHeaderActions>
            </MudCardHeader>
        }


        <MudCardContent>
            @ChildContent
        </MudCardContent>
    </MudCard>
</CascadingValue>


@code {
    [Inject]
    ITourService TourService { get; set; }
    [Inject]
    private GTour.Abstractions.IGTourService GTourService { get; set; }
    private bool tourActivated = false;

    protected override void OnInitialized()
    {
        tourActivated = TourService.checkIfUserTourIsActivated();
        // TourService userTour = new TourService(GTourService, NavManager);
        // tourActivated = userTour.checkIfUserTourIsActivated(NavManager.Uri);
    }
}
