@inherits RootLayout
@inject NavigationManager navigationManager
@inject AppState appState
@inject IStringLocalizer<Global> L

<CascadingValue Value="this">
    <MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="full">
        <MatDrawer Opened="true">
            <header class="drawer-header">
                <div class="drawer-logo">
                    @*logo come here
                    <img alt="@appState.AppName" class="logo-img" src="_content/BlazorBoilerplate.Theme.Material/images/logo-dark.svg" title="@appState.AppName">
                    *@
                    
                    <div class="drawer-logo">
                            <a href="/" style="position:relative;width:100%; height:100%;">
                                <div style="background-color:white; height:76px; width:76px; position:absolute; top:2px;left:12px;border-radius:50%;">
                                </div>
                                <img src="_content/BlazorBoilerplate.Theme.Material/images/logo.svg" style="position:absolute; width:100px; top:-10px; left:0px;"  title="@appState.AppName Home" alt="@appState.AppName" />
                            </a>
                    </div>
                </div>
            </header>
            <NavMenu />
            <DrawerFooter></DrawerFooter>
        </MatDrawer>
        <MatDrawerContent>
            <MatAppBarContainer Style="display: flex; flex-direction: column; min-height: 100vh;">
                <MatAppBar Fixed="true">
                    <MatAppBarRow>
                        <MatAppBarSection>
                            <MatAppBarTitle Style="color:black">
                                Effective Machine Learning made easy
                            </MatAppBarTitle>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <TopRightBarSection></TopRightBarSection>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>
                <MatAppBarContent Style="flex: 1; display: flex; flex-direction: column;">
                    @TopSection
                    <section class="container-fluid" style="flex: 1;">
                        @Body
                    </section>
                    <Footer></Footer>
                </MatAppBarContent>
            </MatAppBarContainer>
        </MatDrawerContent>
    </MatDrawerContainer>
</CascadingValue>

@code {

    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var profile = await appState.GetUserProfile();

        }
    }


}
