@inject IStringLocalizer<Global> L
@inject NavigationManager NavManager
@using System.Linq

<MudCard>
    <MudCardHeader Class="mud-theme-primary">
        <CardHeaderContent >
            <MudText Typo="Typo.h6">Past training</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        @if (Trainings == null)
        {
             <DataLoaderSpinner />
        }
        else
        {
            <MudTable Items="@_pastTraining.Trainings" style="width:stretch" class="mat-elevation-z5" AllowSelection="false" Dense="true" Filter="new Func<GetTrainingResponseDto,bool>(FilterFunc)">
                <ToolBarContent>
                    <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start"
                                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
		            <MudTh></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<GetTrainingResponseDto, object>(x=>x.StartTime)">Start datetime</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<GetTrainingResponseDto, object>(x=>x.Status)">Status</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<GetTrainingResponseDto, object>(x=>x.DatasetName)">Dataset</MudTableSortLabel></MudTh>
                    <MudTh>Task</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd><MudIconButton Icon="@((context.ShowDetails == true)? Icons.Material.Filled.KeyboardArrowUp : Icons.Material.Filled.KeyboardArrowDown)" OnClick="@(() => context.ShowDetails = !context.ShowDetails)" aria-label="delete"></MudIconButton></MudTd>
                    <MudTd>
                        <a href="@NavManager.ToAbsoluteUri("trainings/" + @context.ID).AbsoluteUri" Style="cursor: pointer;">@context.StartTime</a>
                    </MudTd>
                    <MudTd>
                        @context.Status
                        @if (context.Status == "busy")
                        {
                            <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
                        }
                    </MudTd>
                    <MudTd>@context.DatasetName</MudTd>
                    <MudTd>@context.Task.Properties["skos:prefLabel"]</MudTd>
                </RowTemplate>
	            <ChildRowContent>
                    @if (@context.ShowDetails)
                    {
                        <MudTr>
                            <td colspan="5">
                                <MudCard>
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.body1">Trained models</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent Class="pa-0">
                                        <MudTable Items="@context.AutoMls" Context="AutoMl">
                                            <HeaderContent>
                                                <MudTh>Name</MudTh>
                                                <MudTh>Status</MudTh>
                                                <MudTh>Model</MudTh>
                                                <MudTh>Library</MudTh>
                                                <MudTh>Test score</MudTh>
                                                <MudTh>Validation score</MudTh>
                                                <MudTh>Prediction time</MudTh>
                                                <MudTh>Runtime</MudTh>
                                            </HeaderContent>
                                            <RowTemplate>
                                                <MudTd>@AutoMl.Name</MudTd>
                                                <MudTd>
                                                    @AutoMl.Status
                                                    @if (AutoMl.Status == "busy")
                                                    {
                                                        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
                                                    }
                                                </MudTd>
                                                <MudTd>
                                                    <a href="@NavManager.ToAbsoluteUri("models/" + @AutoMl.ID).AbsoluteUri" Style="cursor: pointer;">@AutoMl.Model</a>
                                                </MudTd>
                                                <MudTd>@AutoMl.Library</MudTd>
                                                <MudTd>@AutoMl.TestScore</MudTd>
                                                <MudTd>@AutoMl.ValidationScore</MudTd>
                                                <MudTd>@AutoMl.Predictiontime</MudTd>
                                                <MudTd>@AutoMl.Runtime</MudTd>
                                            </RowTemplate>
                                        </MudTable>
                                    </MudCardContent>
                                </MudCard>
                            </td>
                        </MudTr>
                    }
                </ChildRowContent>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        }
    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    public string OpenTrainingId { get; set; }
    [Parameter]
    public GetAllTrainingsResponseDto Trainings
    { 
        get
        {
            return _trainings;
        } 
        set
        {
            _trainings = value;
            if(_trainings != null)
            {
                _pastTraining.Trainings = _trainings.Trainings.Where(x => x.StartTime < DateTime.Now.AddDays(-1)).ToList();
                if (!string.IsNullOrEmpty(OpenTrainingId))
                {
                    foreach (var item in _pastTraining.Trainings.Where(x => x.ID == OpenTrainingId))
                    {
                        item.ShowDetails = true;
                    }
                }
                StateHasChanged();
            }
        } 
    }
    private GetAllTrainingsResponseDto _trainings;
    private GetAllTrainingsResponseDto _pastTraining;
    private string searchString = "";
    protected override void OnInitialized()
    {
        _pastTraining = new GetAllTrainingsResponseDto();
    }
    
    private bool FilterFunc(GetTrainingResponseDto element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Status.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Task.Properties["skos:prefLabel"].Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.DatasetName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    } 
}
