@inject IStringLocalizer<Global> L
@inject NavigationManager NavManager
@using System.Timers
@implements IDisposable
@inject IViewNotifier viewNotifier
@inject IApiClient apiClient
@using Radzen
@using Radzen.Blazor

<MudCard Elevation="5" >
    <MudCardHeader Style="border-bottom-style: inset; border-bottom-width: 1px;">
        <CardHeaderContent>
            <MudText Typo="Typo.h6">@L["Leaderboard"]</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudPaper Elevation="0">
            @if (Training == null)
            {
                <DataLoaderSpinner />
            }
            else
            {
                <TrainingTimeline Training="@Training" />
                <MudTable Items="@Training.Training.models" Context="models" Filter="new Func<ModelDto,bool>(FilterFunc)" CustomHeader="true" data-form-ninthStep data-form-tenthStep>
                    <ToolBarContent>
                        <MudSpacer />
                            <MudTextField @bind-Value="searchString" Placeholder="@L["Search by AutoML solution, status, ML model or library"]" Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Immediate="true" Clearable="true"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTHeadRow>
                            <MudTh><MudTableSortLabel SortBy="@(new Func<ModelDto, object>(x=>x.AutoMlSolution.Properties["skos:prefLabel"]))">@L["AutoML solution"]</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<ModelDto, object>(x=>x.Status)">@L["Status"]</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="@(new Func<ModelDto, object>(x=>x.GetMlModelString()))">@L["Model"]</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="@(new Func<ModelDto, object>(x=>x.GetMlLibraryString()))">@L["ML Library"]</MudTableSortLabel></MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="@(new Func<ModelDto, object>(x=> SelectedMetric != "" ?
                                                                                                    x.Metrics.Count() > 0 ?
                                                                                                        x.Metrics.Where(y => y.Name.ID == SelectedMetric).First().Score.ToString()
                                                                                                        : ""
                                                                                                    : ""))">@L["Metric"]</MudTableSortLabel>
                            </MudTh>
                            <MudTh>
								<MudTableSortLabel SortBy="new Func<ModelDto, object>(x=>x.Runtime)">
									<LabelTooltip Label=@L["Training time"] FontSize="TextStyle.Body1" Text="Runtime for training the entire dataset in minutes" Position="Radzen.TooltipPosition.Top"></LabelTooltip>
								</MudTableSortLabel>
							</MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<ModelDto, object>(x=>x.Emissions)">
                                       <LabelTooltip Label=@L["Training emissions"] FontSize="TextStyle.Body1" Text="Emissions for training the entire dataset in kg CO2 equivalents." Position="Radzen.TooltipPosition.Top"></LabelTooltip>
                                </MudTableSortLabel></MudTh>
                             <MudTh>
								 <MudTableSortLabel SortBy="new Func<ModelDto, object>(x=>x.PredictionTime)">
									<LabelTooltip Label=@L["Prediction time"] FontSize="TextStyle.Body1" Text="Runtime for predicting one single sample in microseconds." Position="Radzen.TooltipPosition.Top"></LabelTooltip>
                                </MudTableSortLabel>
							</MudTh>
                            <MudTh></MudTh>
                        </MudTHeadRow>
                        <MudTHeadRow>
                            <MudTh></MudTh>
                            <MudTh></MudTh>
                            <MudTh></MudTh>
                            <MudTh></MudTh>
                            <MudTh>
                                <MudSelect Disabled=@IsDisabled T="string" Label="@L["Metric"]" @bind-Value=SelectedMetric>
                                    @foreach (var metric in _metrics)
                                    {
                                        <MudSelectItem Value="@metric.Name.ID">
                                            <MudText Typo="Typo.body2">@metric.Name.Properties["skos:prefLabel"]</MudText>
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            </MudTh>
                            <MudTh></MudTh>
                            <MudTh></MudTh>
                            <MudTh></MudTh>
                            <MudTh></MudTh>
                        </MudTHeadRow>
                    </HeaderContent>
                    <RowTemplate >
                        <MudTd>
                            @(models.AutoMlSolution.Properties.ContainsKey("skos:prefLabel") ? models.AutoMlSolution.Properties["skos:prefLabel"] : "")
                        </MudTd>
                        <MudTd>
                            @if (models.Status == "busy")
                            {
                                <MudProgressCircular Size="Size.Small" Color="Color.Secondary" Indeterminate="true" />
                            }
                            else
                            {
                                @L[models.Status]
                            }
                        </MudTd>
                        @if (tourActivated)
                        {
                            <MudTd>
                                <MudLink Href="@NavManager.ToAbsoluteUri("trainings/" + Training.Training.Id + "/models/" + @models.Id+"?TourStep=eleventhStep").AbsoluteUri" Style="cursor: pointer; display: flex;"><MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Lightbulb" Style="margin-right: 4px;"/>@(models.GetMlModelString())</MudLink>
                            </MudTd>
                        }
                        else
                        {
                            <MudTd>
                                <MudLink Href="@NavManager.ToAbsoluteUri("trainings/" + Training.Training.Id + "/models/" + @models.Id).AbsoluteUri" Style="cursor: pointer; display: flex;"><MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Lightbulb" Style="margin-right: 4px;" />@(models.GetMlModelString())</MudLink>
                            </MudTd>
                        }
                        <MudTd>@(models.GetMlLibraryString())</MudTd>
                        <MudTd>
                            @if (!String.IsNullOrEmpty(SelectedMetric))
                            {
                                @if (models.Metrics.Where(x => x.Name.ID == SelectedMetric).Count() == 1)
                                {
                                    @(String.Format("{0:0.00000}", models.Metrics.Where(x => x.Name.ID == SelectedMetric).First().Score))
                                }
                            }
                        </MudTd>
                        <MudTd>
                            @if (models.Status == "busy")
                            {
                                @(models.Runtime = DateTime.UtcNow.Subtract(models.RuntimeProfile.StartTime).TotalMinutes.ToString("0 min"))

                            }
                            else
                            {
                                @(models.Runtime = models.RuntimeProfile.EndTime.Subtract(models.RuntimeProfile.StartTime).TotalMinutes.ToString("0 min"))
                            }
                        </MudTd>
                        <MudTd>
                            @if (models.Status == "busy")
                            {
                                <span>
                                    @("0") g CO2-eq
                                </span>
                            }
                            else
                            {
                                <span>
                                    @(String.Format("{0:0.00}", models.Emissions)) g CO2-eq
                                </span>
                            }
                        </MudTd>
                        <MudTd>@(String.Format("{0:0}", models.PredictionTime * 1000)) µs</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            }
        </MudPaper>
    </MudCardContent>
</MudCard>
<UserTour></UserTour>

@code {
    [Inject]
    private ITourService TourService { get; set; }
    private bool tourActivated = false;
    protected override void OnInitialized()
    {
        // tourActivated = TourService.checkIfUserTourIsActivated(NavManager.Uri);
        tourActivated = TourService.checkIfUserTourIsActivated();

    }

    [Parameter]
    public GetTrainingResponseDto Training
    {
        get
        {
            return _training;
        }
        set
        {
            _training = value;
            if (_training != null)
            {
                UpdateMetricsList();
                RefreshTraining(null, null);
                _timer = new Timer()
                {
                    AutoReset = true,
                    Enabled = true,
                    Interval = 2000
                };
                _timer.Elapsed += RefreshTraining;
                StateHasChanged();
            }
        }
    }
    private List<Metric> _metrics = new List<Metric>();
    private string SelectedMetric { get; set; } = "";
    private GetTrainingResponseDto _training;
    private Timer _timer;
    private string searchString = "";
    protected bool IsDisabled { get; set; }

    private bool FilterFunc(ModelDto element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.AutoMlSolution.Properties["skos:prefLabel"].Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Status.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.GetMlLibraryString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.GetMlModelString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    public void Dispose()
    {
        DisposeTimer();
    }

    private void UpdateMetricsList()
    {
        IsDisabled = true;
        foreach (var model in _training.Training.models)
        {
            foreach (var metric in model.Metrics)
            {
                if (_metrics.Where(x => x.Name.Properties["skos:prefLabel"] == metric.Name.Properties["skos:prefLabel"]).Count() == 0)
                {
                    _metrics.Add(metric);
					IsDisabled = false;
                }
            }
        }
        _metrics = _metrics.OrderBy(x => x.Name.Properties["skos:prefLabel"]).ToList();
        if (_metrics.Count > 0 && SelectedMetric == "")
        {
            SelectedMetric = _metrics[0].Name.ID;
            StateHasChanged();
            IsDisabled = false;
        }
    }

    SemaphoreSlim timerSemaphore = new SemaphoreSlim(1);
    private async void RefreshTraining(object sender, ElapsedEventArgs e)
    {
        await InvokeAsync(async () =>
        {
            var gotLock = timerSemaphore.Wait(0);
            if (!gotLock)
            {
                return;
            }
            try
            {
                if (_training.Training.Status != "busy")
                {
                    DisposeTimer();
                    return;
                }

                ApiResponseDto apiResponse = await apiClient.GetTraining(new GetTrainingRequestDto { TrainingId = Training.Training.Id });

                if (apiResponse.IsSuccessStatusCode)
                {
                    _training = Newtonsoft.Json.JsonConvert.DeserializeObject<GetTrainingResponseDto>(apiResponse.Result.ToString());
                    UpdateMetricsList();
                    StateHasChanged();
                }
                //Training does not exist anymore
                else if (apiResponse.StatusCode == 404)
                {
                    DisposeTimer();
                    return;
                }
                else
                {
                    viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
                }

            }
            catch (Exception ex)
            {
                viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
            }
            finally
            {
                timerSemaphore.Release();
            }
        });
    }

    public void DisposeTimer()
    {
        if (_timer != null)
        {
            _timer.Elapsed -= RefreshTraining;
            _timer?.Dispose();
            _timer = null;
        }
    }
}
