@using BlazorBoilerplate.Shared.Dto.Chat
@using System.Text.Json
@inherits DynamicComponentContainer
@inject IApiClient apiClient

<MudFab 
Icon="@(isChatOpen ? Icons.Material.Filled.Close : Icons.Material.Filled.Chat)" 
Color="Color.Secondary" 
@onclick="ToggleChat"
Style="position:fixed; bottom: 20px; right: 20px; z-index: 100;" 
/>

<MudPopover Open="@isChatOpen" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.BottomRight">
    <MudPaper Class="chat-box">
        <!-- Chat Header -->
        <MudCard Class="chat-header" @onclick="CloseChat">
            <div class="chat-header-content">
                <MudText Typo="Typo.h5" Class="header-title">OMA-ML Assistant</MudText>
                <MudSpacer/>
                <MudIcon Icon="@Icons.Material.Filled.Minimize"
                Style="cursor: pointer; margin-left: auto;"/>
            </div>
        </MudCard>

        <!-- Chat Content Area -->
        <MudCardContent Class="chat-content">
            <MudList>
                @foreach (var message in messages)
                {
                    <MudListItem Class="@(message.IsUser ? "user-message" : "assistant-message")">
                        <MudText Class="@(message.IsUser ? "user-bubble" : "assistant-bubble")">
                            @message.Text
                        </MudText>
                    </MudListItem>
                }
            </MudList>
        </MudCardContent>

        <!-- Chat Input Area -->
        <MudCardActions Class="chat-input">
            <MudTextField @bind-Value="currentMessage" @ref="inputField" Placeholder="Message Hint" FullWidth="true" Class="input-field"
            OnKeyUp="HandleEnterKey" />
            <MudIconButton Icon="@Icons.Material.Filled.Send" @onclick="SendMessage" />
        </MudCardActions>
    </MudPaper>
</MudPopover>

@code {
    private bool isChatOpen = false;
    private MudTextField<string> inputField;
    private string currentMessage = string.Empty;

    private List<Message> messages = new List<Message>
    {
        new Message { Text = "Hello, I'm your digital assistant. I'm glad you're using our service! How can I assist you today?", IsUser = false }
    };

    private void ToggleChat() {
        isChatOpen = !isChatOpen;
    }

    private void HandleEnterKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SendMessage();
        }
    }

    // Method to handle sending messages
    private async void SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(currentMessage))
        {
            //Add message to Chat
            messages.Add(new Message { Text = currentMessage, IsUser = true });

            //Send request
            ApiResponseDto apiResponse = await apiClient.SendChatMessage(new BlazorBoilerplate.Shared.Dto.Chat.SendChatMessageRequestDto { ChatMessage = getChatHistory() });

            //ToDo Check Validity of response
            //ToDo handle "Stream" of response
            SendChatMessageResponseDto responseDto = Newtonsoft.Json.JsonConvert.DeserializeObject<SendChatMessageResponseDto>(apiResponse.Result.ToString());
            //For now: Simulate assistant response
            messages.Add(new Message { Text = responseDto.ResponseMessage , IsUser = false });

            //Reset variable and inputField
            currentMessage = string.Empty;
            await inputField.Clear();
            await inputField.FocusAsync();

        }
    }

    private void OpenChat()
    {
        isChatOpen = true;

        inputField.FocusAsync();
    }

    private void CloseChat()
    {
        isChatOpen = false;
    }

    private string getChatHistory()
    {
        string history = "";
        foreach (var message in messages){
            if (message.IsUser){
                history += "User: " + message.Text + "\n";
            }
            else{
                history += "Chatbot: " + message.Text + "\n";
            }
        }


        return history;
    }

    public class Message
    {
        public string Text { get; set; }
        public bool IsUser { get; set; }

    }
}

