@inject IStringLocalizer<Global> L
@inject NavigationManager NavManager


<MudCard>
    <MudCardHeader Class="mud-theme-primary">
        <CardHeaderContent >
            <MudText Typo="Typo.h6">All Dataset</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudStack Row="true" Class="align-content-center" Style="margin-top: 8px">
                <UploadDataset OnUploadCompletedCallback="@OnUploadCompletedCallback"/>
                @if (SummaryVersion == true)
                {
                    <MudButton Href="@("/datasets")"
                        Variant="Variant.Filled" 
                        EndIcon="@Icons.Material.Filled.MoreHoriz" 
                        Color="Color.Secondary"
                        Size="Size.Small">More</MudButton>
                }
            </MudStack>
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        @if (Datasets == null)
        {
             <DataLoaderSpinner />
        }
        else
        {
            <MudTable Items="@Datasets.Datasets" style="width:stretch" class="mat-elevation-z5" AllowSelection="false" Dense="true">
                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Type</MudTh>
                    <MudTh>Rows</MudTh>
                    <MudTh>Columns</MudTh>
                    <MudTh>Date</MudTh>
                    @if (SummaryVersion == false)
                    {
                        <MudTh></MudTh>   
                    }
                </HeaderContent>
                <RowTemplate>
                    <MudTd >
                        <a href="@NavManager.ToAbsoluteUri("datasets/" + @context.Identifier).AbsoluteUri" Style="cursor: pointer;">@context.Name</a>
                    </MudTd>
                    <MudTd >@context.Type.Properties["skos:prefLabel"]</MudTd>
                    <MudTd >@context.Rows</MudTd>
                    <MudTd >@context.Columns</MudTd>
                    <MudTd  style="white-space:nowrap;">@context.Creation_date.ToString("yyyy-MM-dd")</MudTd>
                    @if (SummaryVersion == false)
                    {
                        <MudTd><DatasetMenu Dataset="@context"/></MudTd>
                    }
                </RowTemplate>
            </MudTable>
        }
    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    public GetDatasetsResponseDto Datasets
    { 
        get
        {
            return _datasets;
        } 
        set
        {
            _datasets = value;
            
            if ((SummaryVersion == true) && (_datasets != null))
            {
                _datasets.Datasets = _datasets.Datasets.OrderByDescending(x => x.Creation_date).Take(3).ToList();
                StateHasChanged();
            }
            else if(_datasets != null)
            {
                StateHasChanged();
            }
        } 
    }
    private GetDatasetsResponseDto _datasets;
    [Parameter]
    public EventCallback OnUploadCompletedCallback { get; set; }
    [Parameter]
    public bool SummaryVersion { get; set; } = false;

}
